/* Useful declarations */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --bg-color: #000122;
    --panel-color: #05213b;
    --element-color: #537EAD; /* For borders and other "neutral" colours */

    --red-theme: #EB0D0D;
    --cyan-theme: #10C4FB;
    --yellow-theme: #EFE11D;
    --green-theme: #2EE337;
    --orange-theme: #FF802F;
    --purple-theme: #CE0FC4;
    --greyblue-theme: #4A86E8;
    --white-theme: #f0f0f0;

    --red-theme-bg: #eb0d0d27;
    --cyan-theme-bg: #10C4FB27;
    --yellow-theme-bg: #EFE11D27;
    --green-theme-bg: #2EE33727;
    --orange-theme-bg: #FF802F27;
    --purple-theme-bg: #CE0FC427;
    --greyblue-theme-bg: #4A86E827;
    --white-theme-bg: #f0f0f027;
}

.red-elem {
    --parent-color: var(--red-theme);
    --parent-color-bg: var(--red-theme-bg);
}

.cyan-elem {
    --parent-color: var(--cyan-theme);
    --parent-color-bg: var(--cyan-theme-bg);
}

.yellow-elem {
    --parent-color: var(--yellow-theme);
    --parent-color-bg: var(--yellow-theme-bg);
}

.green-elem {
    --parent-color: var(--green-theme);
    --parent-color-bg: var(--green-theme-bg);
}

.orange-elem {
    --parent-color: var(--orange-theme);
    --parent-color-bg: var(--orange-theme-bg);
}

.purple-elem {
    --parent-color: var(--purple-theme);
    --parent-color-bg: var(--purple-theme-bg);
}

.greyblue-elem {
    --parent-color: var(--greyblue-theme);
}

.white-elem {
    --parent-color: var(--white-theme);
}

/* Layout definitions */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

.h-flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.v-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.grid-container {
    display: grid;
}

/* General element styling */
.panel {
    background-color: var(--panel-color);
    --parent-bg: var(--panel-color);
    font-family: 'Roboto', sans-serif;
    color: var(--white-theme);
}

.window-body {
    background-color: var(--bg-color);
    --parent-bg: var(--bg-color);
    color: var(--white-theme);
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

.inheriting-button {
    font-family: 'Roboto', sans-serif;
    border: none;
    color: var(--parent-bg);
    width: 100%;
    height: 50px;
    margin-bottom: 0%;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    word-wrap: break-word;
    transition: background-color 0.4s, color 0.4s;
    background-color: var(--parent-bg);
    color: var(--parent-color);
    border: 2px solid var(--parent-color);
}

.inheriting-button:hover {
    background-color: var(--parent-color);
    color: var(--parent-bg);
}

.inheriting-label {
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    color: var(--parent-color);
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bolder;
}

.math-font {
    font-family: "Roboto Mono", monospace;
}

.expression {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0px 12px 0 0;
    padding: 0px;
    align-items: center;
    color: var(--white-theme);
}

.expression:hover {
    background-color: var(--greyblue-theme-bg);
    transition: background-color 0.2s ease;
}

.expression-number {
    text-align: center;
    font-size: var(--parent-font-size);
    min-width: 80px;
    width: auto;
    color: var(--white-theme);
    margin: 8px 8px 8px 8px;
}

.expression-input {
    background-color: var(--parent-color-bg);
    color: var(--parent-color);
    border: var(--parent-color) 1px solid;
    transition: border 0.1s linear;
    font-size: var(--parent-font-size);
    width: 6ch;
    text-align: center;
}

.expression-input:focus {
    outline: none !important;
    border: var(--parent-color) 1px transparent;
    border-bottom: var(--parent-color) 6px solid;
    font-style: italic;
}

.expression-input:hover {
    border: var(--parent-color) 1px transparent;
    border-bottom: var(--parent-color) 6px solid;
}

.expression-list {
    width: fit-content;
    overflow-y: auto;
    margin-left: 20px;
}

/* Formula entry element styling */
.entry-button-holder {
    width: auto;
    margin: auto;
    align-content: center;
    text-align: center;
    margin: 0px 6px 0px 6px;
}

#entry-left-panel {
    min-width: 240px;
    grid-template-columns: auto auto;
    align-content: start;
    --parent-bg: var(--panel-color);
    padding-top: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

#entry-right-panel {
    flex-grow: 1;
}

#entry-not-button-label {
    margin: -20px;
    font-size: 50px;
}

.entry-text-button-label {
    font-size: 20px;
    margin: -10px -30px -10px -30px;
}

#entry-atom-label {
    font-size: 5px;
    transform: scale(2) translate(0px, 2px);
}

#entry-eq-button-label {
    margin: -20px;
    font-size: 50px;
}

#entry-neq-button-label {
    margin: -20px;
    font-size: 40px;
}

.v-flex-container>hr {
    border-color: var(--element-color);
    flex-grow: 1;
    margin: 0;
}

.given-holder {
    margin: 0px;
    height: fit-content;
}

.entry-expression {
    --parent-font-size: 30px;
}

/* Main formula styling */
.proof-step-button {
    width: 108px;
    margin: auto;
    align-content: center;
    text-align: center;    margin: 2px 6px 2px 6px;
    font-size: 24px;
    height: 40px;
}

#proof-left-panel {
    max-width: 240px;
    --parent-bg: var(--panel-color);
}

#proof-right-panel {
    flex-grow: 1;
}

#proof-button-grid {
    margin-top: 4px;
    grid-template-columns: auto auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.long-proof-button-label {
    margin: -15px;
}

#proof-tutorial-box {
    font-family: 'Roboto', sans-serif;
    width: auto;
    overflow-wrap: break-word;
    margin: 80px 3px 3px 3px;
    padding-left: 4px;
    border: var(--element-color) 2px solid;
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--bg-color);
    color: var(--white-theme);
    min-height: 70px;
}

.proof-tutorial-header {
    font-style: italic;
    font-weight: 100;
    text-decoration: underline;
    color: var(--parent-color);
    font-size: 20px;
    margin: 6px 0 0 0;
}

.proof-tutorial-expl {
    font-size: 16px;
    margin-top: 2px;
}

.proof-model-step {
    margin: 0;
    font-size: 14px;
}

.proof-expression {
    --parent-font-size: 18px;
}

.expression-body {
    color: var(--white-theme);
    font-size: var(--parent-font-size);
}

.expression-origin {
    margin: 1px 10px 1px auto;
    padding-left: 70px;
    text-align: right;
    font-size: var(--parent-font-size);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Modals styling */
.modal {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    overflow: clip;
    display: none;
}

.modal-formula-input {
    max-width: 600px;
    max-height: 260px;
    border: var(--element-color) 2px solid;
}

.modal-body {
    text-align: center;
    padding: 5px;
}

.modal-button-panel {
    grid-template-columns: auto auto auto auto;
    border-left: var(--element-color) 2px solid;
    padding: 3px;
    grid-column-gap: 3px;
}

.modal-title {
    color: var(--parent-color);
    font-size: 35px;
    text-decoration: underline;
    font-style: italic;
    margin: 5px;
}

.modal-body-text {
    font-size: 20px;
    margin: 20px 5px;
}

.modal-full-expression-entry {
    --parent-font-size: 30px;
    margin: auto auto 10px auto;
}

.modal-small-expression-entry {
    --parent-font-size: 30px;
    margin: 13px 0px 0px 8px;
}

.modal-body-button {
    width: 108px;
    margin-top: auto;
    align-content: center;
    text-align: center;    margin: 2px 6px 2px 6px;
    font-size: 24px;
    height: 40px;
}

.modal-button-label {
    margin: auto 2px;
}

.modal-panel-button {
    margin: auto;
    font-size: 20px;
    height: 30px;
    min-width: 70px;
}

.h-flex-container-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.modal-or-int-prior {
    color: var(--parent-color);
    font-style: italic;
}

#modal-or-int-prior-right {
    display: none;
}